.title{
    text-align: center;
}

.card-container{
    text-align: center;
    justify-content: center;
    display: flex;
}

.card{
    width: 20vw;
    height: 41.5vh;
    border-color: black;
    border-style: solid;
    box-shadow: 5px 10px;
}

img{
    width: 15vw;
}

button{
    width: 20vw;
}