*{
    padding: 0%;
    margin: 0%;
}

table{
    width: 100%;
    border-collapse: collapse;
}

#cell1{
    background-color: bisque; width: 50%; min-width: 50%; height: 100vh; min-height: 100vh; text-align: center;
}

#cell2{
    background-color: chartreuse; width: 50%; min-width: 50%; height: 100vh; min-height: 100vh; text-align: center;
}